@mixin dispFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin footer {
  position: fixed;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  color: whitesmoke;
  text-align: center;
  border-top: 1px solid gray;
  padding: 20px;
}

@mixin rotate360 {
  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
